/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/img
/public/fonts
/resources/views
/.idea
/resources/views/index.blade.php
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
